   
<footer id="footer" >
    <div class="container dddd">
        <div class="row">
            @Html.Partial("_FAddress")
            @*<div class="col-md-4 col-xs-12 col-sm-12">


            </div>*@
            @*<div class="col-md-2 col-xs-12 col-sm-12">
            @Html.Partial("_FConsulting")
        </div>
        <div class="col-md-3 col-xs-12 col-sm-12">
            @Html.Partial("_FNewsletter")
            @Html.Partial("_AddLinkDetail")
        </div>
        <div class="col-md-3 col-xs-12 col-sm-12">
            @if (!Request.UserAgent.Contains("Lighthouse"))
            {
                @Html.Partial("_FFancePage")
            }

        </div>*@
        </div>
    </div>
</footer>
